<% content_for :secondary_nav do %>
  <div class="secondary-nav">
    <div class="secondary-nav__title">
      Webservice Sync
    </div>
    <ul>
      <li <% if is_active_link?(admin_getxo_index_path, :exclusive) %> class="is-active" <% end %>>
        <%= link_to "Check", admin_getxo_index_path %>
      </li>
      <li <% if is_active_link?(streets_admin_getxo_index_path) %> class="is-active" <% end %>>
        <%= link_to "Calles", streets_admin_getxo_index_path %>
      </li>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
